@import "./globals";
@mixin scrollbars(
  $size,
  $foreground-color,
  $background-color: mix($foreground-color, white, 50%)
) {
  //stylesheet for the display in Google Chrome
  &::-webkit-scrollbar {
    height: $size;
    width: $size;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: $foreground-color;
  }

  &::-webkit-scrollbar-track {
    border-radius: 10px;
    background: $background-color;
  }

  // stylesheet for the display in Internet Explorer
  & {
    scrollbar-track-color: $background-color;
    scrollbar-face-color: $foreground-color;
  }
}
.chat {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100vh;
  justify-content: space-between;
  background-color: $secondaryColor;
  box-shadow: rgba(229, 231, 235, 0.1) 0px 2px 5px;
  overflow: hidden;

  .chat-header {
    height: 30%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;

    .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      background-color: $backgroundColor;
      width: 100%;
      justify-content: space-between;
      .profile {
        display: flex;
        flex-direction: column;
      }
      h1 {
        font-size: 1.25rem;
        text-transform: uppercase;
        text-indent: 0.5rem;
      }
      button {
        background-color: $secondaryColor;
        font-size: 0.75rem;
        padding: 0.25rem 0.5rem 0.25rem 0.5rem;
        width: 20%;
        color: $whiteColor;
        border-radius: 0px 5px 5px 0px;
        border: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .submenu {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 80px;
      justify-content: center;
      background-color: $primaryColor;
      align-items: center;
      position: relative;
      overflow: hidden;

      .notification {
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $whiteColor;

        h2 {
          color: $primaryColor;
          font-size: 0.875rem;
          text-transform: uppercase;
          padding: 1rem;
        }
      }
      .users {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        .profile {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
  .chat-message {
    height: 70%;
    display: flex;
    overflow-y: auto;
    align-content: flex-start;
    width: 100%;
    flex-direction: column;

    .message {
      padding-left: 0.5rem;
      max-width: 220px;
      margin-left: 0px;
      margin-bottom: 0.5rem;
      p {
        background-color: $primaryColor;
        color: $whiteColor;
        font-size: 1rem;
        font-weight: 300;
        border-radius: 0px 10px 10px 10px;
        padding: 1rem;
      }

      span {
        color: $whiteColor;
        font-size: 0.6rem;
        padding-left: 0.5rem;
        font-weight: 200;
      }
    }
    .mess-right {
      display: flex;
      margin-left: auto;
      flex-direction: column;
      padding-right: 0.5rem;
      margin-right: 0px;
      max-width: 220px;
      p {
        background-color: $whiteColor;
        color: $primaryColor;
        text-align: right;
        border-radius: 10px 0px 10px 10px;
        margin-bottom: 0.25rem;
      }
      span {
        width: 100%;
        color: $backgroundColor;
        padding-right: 0.5rem;
        text-align: right;
      }
    }
  }

  .text {
    height: 50px;
    display: flex;
    width: 100%;

    input {
      background-color: $primaryColor;
      width: 80%;
      color: $whiteColor;
      padding-left: 1rem;
      text-decoration: none;
      border: none;
      &:focus {
        outline: none;
      }
    }

    button {
      background-color: $secondaryColor;
      font-size: 1rem;
      padding: 0.5rem 1rem 0.5rem 1rem;
      width: 20%;
      color: $whiteColor;
      border-radius: 0px 5px 5px 0px;
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
