@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500;900&display=swap");
* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  color: #f9fafb;
  font-family: "Inter", sans-serif;
}

$backgroundColor: #111827;
$primaryColor: #1f2937;
$secondaryColor: #374151;
$whiteColor: #f9fafb;
