@import "./globals";
.container {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: $whiteColor;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

  .sidebar {
    background-color: $primaryColor;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px;
  }
}
