@import "./globals";
.user {
  width: 100%;
  padding-left: 10px;
  padding-bottom: 10px;
  border: 1px solid $secondaryColor;
  .status {
    padding-left: 10px;
    .icon {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: inline-block;
      background-color: red;
    }
    .connected {
      background-color: green;
    }
    span {
      padding-left: 5px;
      font-size: small;
      color: $secondaryColor;
    }
  }
}
.active {
  background-color: $whiteColor;
  p {
    color: $secondaryColor;
  }
}
